server/HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
dist/
node_modules/
src/main/resources/application.properties
src/test/resources/application.properties
/frontend/package-lock.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code / eclipse###
.vscode/
.settings/
bin/

### Jest ###
coverage/

### Logging ###
/backend/spring.log
*.gz

### Data generation ###
/data-generation/users.json